.main-page-content{
}

.item-row:hover {
  background-color: lightlightgrey;
}

.App {
  text-align: center;
}

.present-only-for-small-screen {
  display: none !important;
}

.force-display-unset {
  display: unset !important;
}

@media only screen and (max-width: 1000px) {
  .main-page-content{
  }
}

@media only screen and (max-width: 700px) {
  .main-page-content{
  }

  .absent-for-small-screen {
    display: none !important;
  }

  .force-display-unset {
    display: unset !important;
  }

  .present-only-for-small-screen {
    display: unset !important;
  }
}


.black-text-button.MuiButton-root{
  color: black;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  text-transform: none;
}

.button-style.MuiButton-root{
  background-color: white;
  border: 2px solid lightgrey;
  color: black;
  //width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  text-transform: none;
}

.accent-button-style.MuiButton-root{
  background-color: lightgrey;
  color: black;
  //width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  text-transform: none;
}

.left-switch-button.MuiToggleButton-root{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: white;
  border: 2px solid lightgrey;
  color: black;
  //width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  text-transform: none;
}

.right-switch-button.MuiToggleButton-root{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  border: 2px solid lightgrey;
  color: black;
  //width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  text-transform: none;
}

.selected-switch-button.MuiToggleButton-root{
  background-color: lightgrey !important;
  color: black;
  //width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  height: 35px;
  text-transform: none;
}